<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated language2 -->
      <package
            uri="http://cs.mcgill.ca/sel/language2/1.0"
            class="ca.mcgill.sel.language2.Language2Package"
            genModel="model/language2.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated language2 -->
      <parser
            type="language2"
            class="ca.mcgill.sel.language2.util.Language2ResourceFactoryImpl"/>
   </extension>
</plugin>
