<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated language1 -->
      <package
            uri="http://cs.mcgill.ca/sel/language1/1.0"
            class="ca.mcgill.sel.language1.Language1Package"
            genModel="model/language1.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated language1 -->
      <parser
            type="lang1"
            class="ca.mcgill.sel.language1.util.Language1ResourceFactoryImpl"/>
   </extension>
</plugin>
